.top-movie-list {
    width: 90%;
    height: fit-content;
    margin: 0 auto;
    margin-top: 1rem;
    overflow-x: hidden;

}

.scroll {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.scroll div {
    width: 26vw;
    max-width: 200px;
    min-width: 170px;
    border-radius: 3px;
    background-color: black;
    box-shadow: 1px 1px 10px #000000;
    text-align: center;
}

.scroll div img {
    height: 16vw;
    min-height: 250px;
}

.scroll div h5 {
    text-overflow: ellipsis;
    font-size: 1rem;
}

@media only screen and (max-width: 1000px) { 
    .top-movie-list {
        overflow-x: scroll;
    }
    .scroll { 
        flex-wrap: nowrap;
    }
}